<!DOCTYPE html>
<html>
  <head>
    <title>Math Quiz</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div id='display-area'>
      <%- body %>
    </div>
  </body>
</html>